{% extends 'layouts/base.html '%}
{% block content %}
    <h1>tasks</h1>

    {% for task in tasks  %}
        <h2>{% if task.done == False %} [] {% else %} [ok] {% endif %} {{task.title}}</h2>
        {% if task.done == False %}
            <p>Tareal pendiente</p>
        {% else %}
            <p>Tareal realizada</p>
        {% endif %}

        <p>{{task.description}}</p>
        <p>{{task.project.name}}</p>
        <button>delete</button>
        <button>done</button>
    {% endfor %}
{% endblock %}