body{
    background-color:  #202020;
    color:aliceblue;
}

.navbar {
    background: black;
    padding: 5px 10px;
}

.navbar ul li {
    list-style: none;
}
.navbar ul {
    display: flex;
    justify-content: space-between;
}
.navbar ul li a {
    color:white;
    text-decoration: none;
}

.navbar ul li a:hover{
    color:aqua;
}

.container{
    max-width: 1200px;
    margin:auto;
}

.card{
    background-color: aliceblue;
    color:#202020;
    margin: 5px;
    padding: 5px;
}

.input {
    
}